.home {
  height: 100vh;
  background-color: rgb(1, 1, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h3 {
  color: aliceblue;
  text-align: center;
}
