.home {
  background-color: rgb(1, 1, 1);
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

h1,
h3 {
  color: aliceblue;
  text-align: center;
}
