svg {
  fill: rgba(255, 255, 255, 0.136);

  margin: 10px;
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: all 0.3s ease-out;
}
svg:hover {
  stroke-dashoffset: 0;
  fill: white;
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.611));
}
