* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron";
  z-index: 2;
}

@keyframes blink {
  to {
    filter: blur(0) contrast(1);
    opacity: 1;
  }
}

@font-face {
  font-family: "StarJedi";
  src: url("/fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
